<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DED BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="UserManager" class="com.helo478.codeblog.user.UserManagerImpl"
		scope="singleton">
		<constructor-arg>
			<bean class="com.helo478.codeblog.persistence.BlogDaoHibernateImpl"
				scope="singleton">
			</bean>
		</constructor-arg>
	</bean>

	<bean id="UserAccount" class="com.helo478.codeblog.user.UserAccount"
		scope="prototype">
		<property name="userManager" ref="UserManager" />
	</bean>

</beans>